#header {
	text-align:center;
	margin-top:0;
	margin-right:auto;
	margin-bottom:0;
	margin-left:auto;
	padding:0px;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-bottom-color:#FFFFFF;
	background-color:#ccc;
	z-index:10; 
	position: fixed; 	
}
#debug {
	font-size: 14px;
}
#header .icons {
	margin-right:8px;
	margin-left:8px;
}
#header .icons:hover {
	opacity:0.7;
	-ms-filter:"alpha(opacity=70)";
	filter:alpha(opacity=70);
}
.middle {
	padding-top: 5%;
	text-align: center;
	margin-left: auto;
	margin-right: auto
}
.likes {
	background: #ccc;
	color: #fff;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	height: 100px;
}
.info {
	background: #ccc;
	color: #fff;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	height: 50%;
}
#map_canvas {
        height: 400px;
        width: 400px;
}
#profile_img {
	height: 400px;
}

